<!DOCTYPE html>
<html lang='ja' dir="ltr">
{% load static %}

<!--引用部分を独自からmoneybook踏襲に変えた．-->
 <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'muscle/style.css' %}">

<html>
    <head>
        <meta charset="utf-8">
        <title>MuscleTrainLog</title>

    </head>




    <body>
        <ul class="spans">


            <li class='yearmonth'>{{ year }}年{{ month }}月/{{span}}ヶ月分<span style='margin-right:5em'</span></li>
        
            <li class='sp'><a href="/muscle/{{ year }}/{{ month }}/{{1}}">1ヶ月</a></li>

            <li class='sp'><a href="/muscle/{{ year }}/{{ month }}/{{2}}">2ヶ月</a></li>
        </ul>

        <!--Grid System を使用-->

        <div class="container">

            <div class='container-inner'>

            <!--row二つで枠を作る-->

                <div class="row">


                    <div class='card'>
                        <div class='in-card'>
                            <h1>Train Log</h1>


                            <form action="/muscle/" method="post">
                                {% csrf_token %}
                                    <div class='form-inline'>
                                        {{ trainform.used_date}}
                                        {{ trainform.category}}
                                        {{ trainform.comment}}

                                        <input type="submit" name="train" value="送信">
                                    </div>

                            </form>

                            <hr>


                            <h1>Weight Log</h1>

                            <form action="/muscle/" method="post">
                                {% csrf_token %}
                                <div class='form-inline'>
                                    {{ weightform.used_date }}
                                    {{ weightform.weight }}
                                    <input type="submit" name="weightbutton" value="送信">
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- 支出履歴テーブル -->
                    <div class="card">

                        <div class="in-card">

                            <h2>最近の記録</h2>

                            <table style="table-layout:fixed;width:100%;margin-top:20px;">


                                <thead class="pay_history">
                                    <tr>
                                        <th class="used_date">日付</th>
                                        <th class="category">カテゴリ</th>
                                        <th class="comment">コメント</th>
                                    </tr>
                                </thead>

                                <tbody class="pay_history">
                                    {% for m in train %}
                                        <tr class="table_data">
                                            <td class="used_date" id="table">{{ m.used_date}}</td>
                                            <td class="category" id="table">{{ m.category }}</td>
                                            <td class="comment" id="table">{{ m.comment }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>


                            </table>
                        </div>
                    </div>
                    

                </div>



            
                <div class="row">
                    <div class='card'>

                        <div class='in-card'>


                            <h2>バランスグラフ</h2>

                            <img  src="/static/images/rador_chart_{{ year }}_{{ month }}_{{span}}.svg" class="img-fluid">



                        
                        </div>
                    </div>
                    



                    <div class='card'>
                        <div class='in-card'>

                                <h2>体重推移グラフ</h2>
                                <!--注意：imgタグの中のclassを設定するときスペース開けんように-->
                                <img src="/static/images/bar_{{ year }}_{{ month }}_{{span}}.svg"class="img-fluid">

                        </div>
                    </div>


                </div>
            </div>
        </div>
    </body>
</html>