<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <title>MuscleTrainLog</title>
        <link rel="stylesheet" type="text/css"
        href="{% static 'muscle/style.css' %}">
        
    </head>
    <body>
        
    <div class='tt'>
        <h1>{{ year }}年{{ month }}月/{{span}}</h1>
        <div　class='spans'>
        <li><a href="/muscle/{{ year }}/{{ month }}/{{1}}">
        1ヶ月
        </a></li>
        <li><a href="/muscle/{{ year }}/{{ month }}/{{2}}">
        2ヶ月
        </a></li>
        </div>
        <form action="/muscle/" method="post">
            {% csrf_token %}
            {{ trainform.as_table }}
            <input type="submit" name="train" value="送信">
        </form>


        <form action="/muscle/" method="post">
            {% csrf_token %}
            {{ weightform.as_table }}
            <input type="submit" name="weightbutton" value="送信">
        </form>

        </div>
        <div class='wapper'>
        <div class='main'>
        <table>
            <tr>
                <th>日付</th>
                <th>種目</th>
                <th>コメント</th>
            </tr>
            {% for m in train %}
            <tr>
                <td>{{ m.used_date }}</td>
                <td>{{ m.category }}</td>
                <td>{{ m.comment }}</td>
            </tr>
            {% endfor %}
        <table>



        </div>
        <div class="main,tt">
                <img src="/static/images/bar_{{ year }}_{{ month }}_{{span}}.svg">
        
                <img src="/static/images/rador_chart_{{ year }}_{{ month }}_{{span}}.svg">
       </div>



        

        </div>
    </body>
</html>